.sideBar-header{
 text-align: left;
 font-size: 20px;
 font-weight: 1000;
 color: #ffffff;
 font-family:monospace;
 letter-spacing:0.4px;
 margin: 0px;
 padding: 8px;
 margin-right: 0px;
}
.side-bar-container{
  margin: 0px;
}
