.list-btn{
  width:100%;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #00000;
  border-bottom: solid 1px #f4f4f4;
  border-right: none;
  border-left: none;
  border-top:  solid 1px #f4f4f4;
  outline: none;

}
.list-btn-text{
  margin: 0px;
  color: black;
  font-size: 18px;
  font-family:sans-serif;
  font-weight: 500;
  text-align: left;
    margin-bottom: 6px;
  margin-top:5px;
}
.list-btn-date{
  margin: 0px;
  color: black;
  font-size: 10px;
  opacity: 60%;
  font-family:sans-serif;
  font-weight: 300;
  text-align: left;
  margin-bottom: 2px;
  margin-top: 5px;
}
.list-btn:hover{
  background-color:#f4f4f4;
}
.list-btn-onslect{
  width:100%;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #4ebdf8;
  border-bottom: solid 1px #f4f4f4;
  border-right: none;
  border-left: none;
  border-top:  solid 1px #f4f4f4;
  outline: none;
}
.list-btn-text-onSelect{
  margin: 0px;
  color: white;
  font-size: 18px;
  font-family:sans-serif;
  font-weight: 500;
  text-align: left;
    margin-bottom: 6px;
  margin-top:5px;
}
.list-btn-date-onSelect{
  margin: 0px;
  color: white;
  font-size: 10px;
  opacity: 90%;
  font-family:sans-serif;
  font-weight: 300;
  text-align: left;
  margin-bottom: 2px;
  margin-top: 5px;
}

.list-btn-location{
  margin: 0px;
  color: black;
  font-size: 9px;
  opacity: 55%;
  font-family:sans-serif;
  font-weight: 500;
  text-align: left;
  margin-bottom: 2px;
  margin-top: 10%;
}
.list-btn-location-onSelect{
  margin: 0px;
  color: white;
  font-size: 9px;
  opacity: 90%;
  font-family:sans-serif;
  font-weight: 500;
  text-align: left;
  margin-bottom: 2px;
  margin-top: 10%;
}
.lable{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width:inherit;
 padding: 0px;


 }
.text-lable{
float: left;


}
.image{
  float:right;
  margin-left: 20px;
 padding-bottom: 0px;
  border-radius: 12px;
  width: 132px;

}
