.search{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.search-container{
  margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 30%;
  border-right: 1px solid #f4f4f4;
}
.search-scroll-bar{
    height:90%;
  overflow-x:auto;
  overflow-y: scroll;
  font-size: 18px;
  font-family: sans-serif;
}
.search-scroll-bar::-webkit-scrollbar {
  width: 0px;
}
.search-editor{
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
