.sideBar-btn{
  width:100%;
  height: 35px;
  background-color:inherit;
  outline: none;
  color:black;
  border:none;

  padding:8px;
  margin-bottom:2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.sideBar-btn-text{
  margin: 0px;
  color: black;
  font-size: 14px;
  font-family:serif;
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
}
.sideBar-btn:hover{
  background-color: lightgray;
}
.sideBar-btn-onslect{
  width:100%;
  height: 35px;
  background-color: #233659;
  outline: none;
  border:none;
  padding:8px;
  margin-bottom:2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.sideBar-btn-text-onSelect{
  margin: 0px;
  color:white;
  font-size: 14px;
  font-family:serif;
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
}
.sideBar-parent{
  width:100%;
  height: 35px;
  background-color:#DCDCDC;
  outline: none;
  color:black;
  border:none;
  padding:8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 31px;
  padding-top: 15px;

}
.sideBar-btn-text-holiday{
  margin: 0px;
  color: red;
  font-size: 14px;
  font-family:serif;
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 40px;
}
.sideBar-btn-text-events{
  margin: 0px;
  color: green;
  font-size: 14px;
  font-family:serif;
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
  margin-right: 45px;
}
.sideBar-btn-text-travel{
  margin: 0px;
  color: yellow;
  font-size: 14px;
  font-family:serif;
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
  margin-right: 35px;
}
.sideBar-btn-text-recipies{
  margin: 0px;
  color: purple;
  font-size: 14px;
  font-family:serif;
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
  margin-right: 45px;
}
